body {
	background-color: #ffffff;
}

input[type="file"]{
	font-size: 10px;
}

label.error{
    color: #8B0000;
    vertical-align: top;
    font-size: 11px;
}

.form-group textarea{
    height: 200px !important;
}

.form-group label{
	text-align: left !important;
}

.tablesorter-headerDesc {
    background-image: url('../images/icons/desc.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter-headerAsc {
    background-image: url('../images/icons/asc.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter-headerUnSorted {
    background-image: url('../images/icons/upDown.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.sorter-false{
    background-image: none;
}

.clear{
    clear: both;
}

.titulo-action{
	float: left;
}

.novo-item{
	float: right;
}

.box-modulos div{
    text-align: left !important;
    width: 170px;
}

.list-header{
	background-color: #dfdfdf;
	margin-bottom: 15px;
	padding: 15px;
    float: left;
    clear: both;
    width: 100%;
}

.list-header button, .list-title-header a{
	float: right;
}

.modal-body form .form-group span{
	margin: 20px;
}

.btn-search-left {
    float: right;
    margin-left: 20px;
}

.modalButtons{
    text-align: right;
    margin: 30px 0 10px;
    clear: both;
}

.modalButtons input, .modalButtons button, .modalButtons .linkCadastro, .modalButtons a{
	margin: 0 10px;
}

.modal-btn-gerenciar{
    float: right;
    margin-bottom: 15px;
    color: #FFFFFF !important;
}

#list-tipos-logos tr td{
    border: none;
}

#list-tipos-logos .title-logo{
    position: absolute;
	text-align: right;
}

.name-logo{
    font-size: 12px;
}

#list-tipos-logos .img-logo{
    width: 70px;
}

#list-tipos-logos .center-logo, #list-tipos-logos .upload-logo{
    text-align: center;
}

.box-product-colors{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
}

.box-product-colors-thumb{
    width: 25px;
    height: 25px;
    margin: 5px auto;
    border-radius: 4px;
}

.box-product-colors-text, .box-product-usos-incorretos-text, .box-product-usos-aplicacoes-text, .box-product-versoes-text, .box-product-proporcoes-text, .box-product-icones-text, .box-sku-artes-finais-text, .box-familia-enxoval-text{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.box-product-tipografias-text{
    width: 215px;
    text-align: center;
    font-size: 12px;
}

.box-product-tipografias-text span, .box-product-versoes-text span, .box-product-icones-text span, .box-familia-enxoval span{
    margin: 5px 5px 0 0 !important;
}

.box-product-tipografias img{
    width: 215px;
    margin: 10px;
}

.box-product-tipografias, .box-product-usos-incorretos, .box-product-usos-aplicacoes, .box-product-versoes, .box-product-proporcoes, .box-product-icones, .box-sku-artes-finais, .box-familia-enxoval{
    padding: 0 5px;
    text-align: center;
}

.box-product-usos-incorretos img, .box-product-usos-aplicacoes img, .box-product-versoes img, .box-product-proporcoes img, .box-product-icones img, .box-sku-artes-finais img, .box-familia-enxoval img{
    width: 55px;
    margin: 0 15px 5px;
    padding: 0;
}

.box-msg{
    clear: both;
    margin-bottom: 5px;
}

.prod-relations, .sku-relations, .familia-relations{
    background-color: #DFDFDF;
    min-height: 200px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.prod-relations .box-vertical-interno, .sku-relations .box-vertical-interno, .familia-relations .box-vertical-interno{
    background-color: #FFFFFF;
    height: 340px;
    overflow: auto;
    min-width: 200px;
    margin-top: 5%;
    border-radius: 4px;
}

.files-modal{
    text-align: right;
    font-size: 11px;
}

.box-product-typographys, .box-product-misuse, .box-family-outfit{
    margin: 5px auto;
    padding: 0;
    text-align: center;
    font-size: 12px;
}

.box-product-typographys img{
    width: 100%;
    margin: 10px 0;
}

.box-product-misuse img{
    height: 70px;
    margin-top: 5px;
}

.box-family-outfit img{
	width: 170px;
    margin-top: 5px;
}

.box-product-misuse-text, .box-family-outfit-text{
    margin: 5px 0;
}

.upload-misuse, .upload-application{
    padding-top: 5%;
}

.box-horizontal-interno-tipo{
    padding: 10px;
    font-size: 12px;
}

.box-user-modulos{
	text-align: left !important;
	padding: 15px !important;
	border: solid 1px #cccccc;
	border-radius: 3px;
	margin: 0px 15px;
}

.box-user-submenus{
	margin: 10px 0;
}

.search {
	float: left !important;
}

.navbar {
	padding: 0 !important;
	background-color: #f5f8fa;
}

.edit-user-home {
	margin-top: 25px;
}

#ww {
	clear: both;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#ww .row {
	margin: 0;
	padding: 0 20px;
}

#ww p {
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 16px;
    margin: 0 0 11px;
}

#ww .circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 155px;
	height: 155px;
}

#ww h1, #ww h4 {
    font-weight: 700;
    color: #000;
}

.title-portfolio h4 {
	clear: both;
}

.portfolio img {
	height: 50px;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
}
