body {
    background: #eee !important;
}

a {
    color: #2ab27b;
}

a:hover {
    color: #259d6d;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 30px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    border-radius: 0;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
    border-color: #2ab27b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(152,203,232,.6);
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type=submit] {
    margin: 20px 0;
}


.form-signin input[type="password"] {
    margin-bottom: 0;
}

.form-signin .messages {
    width: 100%;
    margin-bottom: 20px;
}

.form-signin .messages .alert-error {
    margin: 10px 0;
    color: #BF3A00;
}

.form-signin .messages .alert-success{
    margin: 10px 0;
    color: #3c763d;
    background-color: #fff;
}
