@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}



/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 35px;
	padding-top: 35px;
}

.navbar-inverse {
	background-color: #1abc9c;
	border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}



/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom {
    display:block;
    position:relative;
    overflow:hidden;
    background:transparent url(/images/comum/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(/images/comum/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 155px;
    height: 155px;
}

.img-portfolio {
    width: 33.333333333%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.img-portfolio img {
    width: 100%;
}

/* Selects */
.cityChosen, .jobChosen {
    width: 100%;
}

.chosen-container-single {
    width: 100% !important;
    margin: 5px auto;
}

.search-button {
    width: 205px;
    margin: 15px auto 0;
}

/* Search Box */

#search input[type="text"] {
    clear: both;
    background: url(/images/comum/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 165px;
    float: right;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
}

#search a {
    color: #fff;
    float: right;
    font-size: 10px;
    margin: 0 15px 5px;
}

.container .filter-search {
    clear: both;
    width: 60%;
    margin: 90px auto 0;
}

/* Retorno Search Usuários */

.container .row .worker-box-search {
    width: 80%;
    margin: 0 auto;
}

.container .row .worker-box-sample {
    width: 335px !important;
}

.container .row .worker-box-search .img-worker-box {
    float: left;
    padding: 0 15px;
    width: 90px;
    text-align: center;
}

.container .row .worker-box-search .img-worker-box img {
    width: 50px;
    height 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.container .row .worker-box-search .data-worker-box {
    float: left;
    padding: 0 30px 0 15px;
    width: 245px;
    font-size: 18px;
}

.container .search-by-job {
    text-align: center;
    margin-bottom: 50px;
}

.container .search-by-job img {
    width: 80px;
    height 80px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
}

.container .search-by-job h2 {
    margin-top: 10px;
}

.box-search {
    width: 80%;
    margin: 0 auto;
}

.box-search .worker-box-row {
    float: left;
    width: 100%;
    border-bottom: solid 1px #ccc;
}

.box-search .worker-box-row .worker-box-search {
    width: 50%;
    float: left;
    padding: 2% 0
}

.box-search .worker-box-row .worker-box-search .img-worker-box {
    float: left;
    padding: 0 15px;
    width: 15%;
    text-align: center;
}

.box-search .worker-box-row .worker-box-search .img-worker-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.box-search .worker-box-row .worker-box-search .data-worker-box {
    width: 80%;
    float: left;
    padding: 0 30px 0 15px;
}

.lista-paginacao {
    width: 100%;
    text-align: center;
}

.pagination > .active > span {
    background-color: #2ab27b !important;
    border-color: #259d6d !important;
}

.pagination > li > a, .pagination > li > span {
    color: #2ab27b;
}
