@media (min-width: 661px) and (max-width: 1200px) {
	.img-portfolio {
	    width: 50%;
	}
}

@media (max-width: 660px) {
	.img-portfolio {
	    width: 80%;
		margin: 0 auto;
		float: none;
	}

    .container .row .worker-box-search {
        width: 85%;
    }

    .box-search .worker-box-row {
        border-bottom: none;
    }

    .box-search .worker-box-row .worker-box-search {
        width: 100%;
        padding: 5% 0;
        border-bottom: solid 1px #ccc;
    }

    .box-search .worker-box-row .worker-box-search .img-worker-box {
        float: none;
        width: 100%;
    }

    .box-search .worker-box-row .worker-box-search .data-worker-box {
        width: 100%;
        float: left;
        text-align: center;
        padding: 10px 30px 10px 15px;
    }
}
